/* Home.css */
.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
 
  .hero-section {
    background-image: url('C:\Users\sohail laptops store\OneDrive\Pictures\pngtree-large-room-full-of-equipment-in-a-gym-picture-image_2611111.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .cta-button {
    background-color:#097972;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color:#098a81;
  }
  
 
  .featured-workouts {
    padding: 50px 0;
    text-align: center;
  }
  
  .workout-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .workout-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
  }
  
  .workout-card.workout-1 {
    background-image: url('C:\Users\sohail laptops store\OneDrive\Pictures\istockphoto-479009182-612x612.jpg');
    background-size: cover;
    color:white;
  }
  
  .workout-card.workout-2 {
    background-image: url('C:\Users\sohail laptops store\OneDrive\Pictures\desktop-wallpaper-weight-lifting-thumbnail.jpg');
    background-size: cover;
    color:white;
  }
  
  .workout-card h3 {
    margin-top: 10px;
    
  }
  
  .workout-card p {
    color:white;
  }
 
  .testimonials {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
  }
  
  .testimonial-list {
    display: flex;
    justify-content: center;
  }
  
  .testimonial {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .testimonial p {
    color: #666;
  }
  
  .testimonial .user {
    font-style: italic;
    color: #999;
  }
